<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">
     Chase Your 'Tail
  </a>

  <%= link_to new_cocktail_path do %>
  <div class="btn btn-primary" id="add_flat">
    New Cocktail
  </div>
  <% end %>
</div>
